<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaohe.pan.server.web.mapper.FileMapper">
    <resultMap id="File" type="com.xiaohe.pan.server.web.model.domain.File">
        <id property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileType" column="file_type"/>
        <result property="menuId" column="menu_id"/>
        <result property="owner" column="owner"/>
        <result property="filePath" column="file_path"/>
        <result property="relativePath" column="relative_path"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
    <select id="selectSubFileByRange" resultType="com.xiaohe.pan.server.web.model.domain.File">
        SELECT *
        FROM file
        WHERE `menu_id` = #{menuId}
            AND `owner` = #{userId}
            LIMIT #{start}, #{count}
    </select>
    <!--配置-->
    <!--id  接口对应的方法-->
    <!--parameterType 方法入参类别 [可简写]-->
    <!--useGeneratedKeys 可理解成是否有返回值-->
    <!--keyProperty 返回值(主键)类别为-->
    <!--注: 返回值不是指方法中返回的值，而是执行后自动在（添加/更新）对象里被赋值-->
    <!--#{?} 入参类别中的属性-->
    <!--Map<String,Object> selectMapById(Long id);-->

</mapper>
