<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaohe.pan.server.web.mapper.FileMapper">
    <resultMap id="File" type="com.xiaohe.pan.server.web.model.domain.File">
        <id property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileType" column="file_type"/>
        <result property="menuId" column="menu_id"/>
        <result property="storageType" column="storage_type"/>
        <result property="owner" column="owner"/>
        <result property="realPath" column="real_path"/>
        <result property="identifier" column="identifier"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
    <select id="selectSubFileByRange" resultMap="File">
        SELECT *
        FROM file
        WHERE `owner` = #{userId} and `deleted` = 0
        <choose>
            <!-- 当menuId为null时，查询根目录文件 -->
            <when test="menuId == null">
                AND `menu_id` IS NULL
            </when>
            <!-- 当menuId有具体值时，查询子目录文件 -->
            <otherwise>
                AND `menu_id` = #{menuId}
            </otherwise>
        </choose>
        <if test="name != null and name != ''">
            AND file_name LIKE CONCAT('%', #{name}, '%')
        </if>

        <if test="orderBy == 1">
            ORDER BY create_time ${desc == 1 ? 'DESC' : 'ASC'}
        </if>
        <if test="orderBy == 2">
            ORDER BY update_time ${desc == 1 ? 'DESC' : 'ASC'}
        </if>

<!--        ORDER BY-->
<!--        <choose>-->
<!--            <when test="orderBy == 2">`update_time`</when>-->
<!--            <otherwise>`create_time`</otherwise>-->
<!--        </choose> DESC-->
        LIMIT #{start}, #{count}
    </select>
    <!--配置-->
    <!--id  接口对应的方法-->
    <!--parameterType 方法入参类别 [可简写]-->
    <!--useGeneratedKeys 可理解成是否有返回值-->
    <!--keyProperty 返回值(主键)类别为-->
    <!--注: 返回值不是指方法中返回的值，而是执行后自动在（添加/更新）对象里被赋值-->
    <!--#{?} 入参类别中的属性-->
    <!--Map<String,Object> selectMapById(Long id);-->

</mapper>
