<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaohe.pan.server.web.mapper.MenuMapper">
    <resultMap id="Menu" type="com.xiaohe.pan.server.web.model.domain.Menu">
        <id property="id" column="id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuLevel" column="menu_level"/>
        <result property="parentId" column="parent_id"/>
        <result property="owner" column="owner"/>
        <result property="source" column="source"/>
        <result property="bound" column="bound"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <select id="selectSubMenuByRange" resultType="com.xiaohe.pan.server.web.model.domain.Menu">
        SELECT *
        FROM menu
        WHERE owner = #{userId} AND `deleted` = 0
        <choose>
            <when test="menuId == null">
                AND menu_level = 1
            </when>
            <otherwise>
                AND parent_id = #{menuId}
            </otherwise>
        </choose>

        <if test="name != null and name != ''">
            AND menu_name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="orderBy == 1">
            ORDER BY `create_time` ${desc == 1 ? 'DESC' : 'ASC'}
        </if>
        <if test="orderBy == 2">
            ORDER BY `update_time` ${desc == 1 ? 'DESC' : 'ASC'}
        </if>
--         ORDER BY
<!--        <choose>-->
<!--            <when test="orderBy == 2">`update_time`</when>-->
<!--            <otherwise>`create_time`</otherwise>-->
<!--        </choose> -->
<!--        <if test="desc == 1">-->
<!--            desc-->
<!--        </if>-->

        <if test="start != null and count != null">
            LIMIT #{start}, #{count}
        </if>

    </select>
    <select id="selectAllMenusByMenuId" resultMap="Menu">
        SELECT *
        FROM menu
        WHERE `menu_id` = #{menuId}
    </select>
    <!--配置-->
    <!--id  接口对应的方法-->
    <!--parameterType 方法入参类别 [可简写]-->
    <!--useGeneratedKeys 可理解成是否有返回值-->
    <!--keyProperty 返回值(主键)类别为-->
    <!--注: 返回值不是指方法中返回的值，而是执行后自动在（添加/更新）对象里被赋值-->
    <!--#{?} 入参类别中的属性-->
    <!--Map<String,Object> selectMapById(Long id);-->

</mapper>
